<mat-dialog-content class="md-dialog-container">

  <mat-dialog-actions align="end">
  <button  (click)="copyText(linkvalue)" class="btn-copy-code btn btn-outline-grey btn-sm px-2 waves-effect" matTooltip="Copy link" style="z-index: 100">
    <i class="fa fa-copy mr-1"></i>
  </button>
    <br>
    <br>
    <br>
  </mat-dialog-actions>
  <textarea class="form-control" rows="8" cols="80" [(ngModel)]="linkvalue" matInput placeholder="Deep Link Value" readonly></textarea>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <!-- <button class="mat-raised-button mat-primary"(click)="save()">Save</button>-->
</mat-dialog-actions>
