<!-- <div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </form>
</div> -->

<div class="main">
<div class="signup-form">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
		<h2>Create an Account</h2>
		<!-- <p class="hint-text">Sign up with your social media account or email address</p>
		<div class="social-btn text-center">
			<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"></i> Facebook</a>
			<a href="#" class="btn btn-info btn-lg"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="#" class="btn btn-danger btn-lg"><i class="fa fa-google"></i> Google</a>
		</div>
		<div class="or-seperator"><b>or</b></div> -->
        <div class="form-group">
            <input type="text" class="form-control input-lg"  formControlName="username"  placeholder="Username">
            <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.username">
                        <div class="error-message" *ngIf="signupForm.get('username').hasError(error.type) && (signupForm.get('username').dirty || signupForm.get('username').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
        </div>
     
		<div class="form-group">
            <input type="email" class="form-control input-lg" formControlName="email" placeholder="Email Address" >
            <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.email">
                        <div class="error-message" *ngIf="signupForm.get('email').hasError(error.type) && 
        (signupForm.get('email').dirty || signupForm.get('email').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
        </div>

    
        <div class="form-group">
                <input type="text" class="form-control input-lg" name="company" placeholder="Company" >
            </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password" >
            <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.password">
                        <div class="error-message" *ngIf="signupForm.get('password').hasError(error.type) && (signupForm.get('password').dirty || signupForm.get('password').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
            </div>
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="confirmpassword" placeholder="Confirm Password" >
    
            <div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.confirmpassword">
                        <div class="error-message" *ngIf="signupForm.get('confirmpassword').hasError(error.type) && (signupForm.get('confirmpassword').dirty || signupForm.get('confirmpassword').touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>
        </div>  
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
        </div>
    </form>
    <div class="text-center">Already have an account?  <a *ngIf="!this.authService.isLoggedIn" class="p-2 text-dark" class="btn btn-outline-primary" routerLinkActive="active" routerLink="/login">Login here</a></div>
</div>
</div>