<h2>
  Deep Link Table</h2>
<div class="container-fluid mat-elevation-z8">
  <form [formGroup]="userTable">
    <div class="action-container">

      <button mat-raised-button *ngIf="!isSubmit" [disabled]="!userTable.dirty || userTable.untouched" color="accent"
              (click)="redirectToUpdate(userTable)"> Update
      </button>
      <button *ngIf="isSubmit" style="float:right;" mat-raised-button color="accent"
              [disabled]="userTable.invalid" type="submit" (click)="submitForm(userTable)">Submit
      </button>
    </div>
    <div class="form-group row">

      <div class="col-lg-4">
        <mat-form-field class="fullwidth form-element">

          <input matInput type="text" placeholder="Link Name" formControlName="linkname">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="fullwidth form-element">

          <input matInput type="text" value="http://www.smartech-tn.com/launch?" placeholder="Link Prefix"
                 readonly>

        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="fullwidth form-element">

          <input matInput type="text" placeholder="Link Description" formControlName="description">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">

      <div class="col-lg-4">
        <mat-form-field class="fullwidth">
          <input matInput type="text" placeholder="Customer" formControlName="customer">
        </mat-form-field>
      </div>
      <div class="col-lg-4">

        <mat-form-field class="fullwidth">
          <mat-select formControlName="environment" placeholder="Environment">
            <mat-option value="Prod">Prod</mat-option>
            <mat-option value="Qa">QA</mat-option>
            <mat-option value="Dev">Dev</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="fullwidth">
          <input matInput type="text" placeholder="Edited by" formControlName="editedby">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">

      <div class="col-lg-4">

        <mat-form-field class="fullwidth">
          <input matInput [matDatepicker]="picker" placeholder="Modification date"
                 formControlName="modificationdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="fullwidth">

          <input matInput type="text" placeholder="Profile" formControlName="profile">
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="fullwidth">
          <mat-select formControlName="status" placeholder="Status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <table class="table table-border">
      <!-- //[ngClass]="{'table-dark': mode}" -->
      <thead class="text-nowrap">
      <th>Property Name
        <span class="ui-column-resizer"> </span>
      </th>
      <th>Property Value
        <span class="ui-column-resizer"> </span>
      </th>

      <th style=" width: 5%;"></th>
      </thead>
      <tbody>
      <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
        <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
          <td>
            <mat-form-field class="fullwidth">
              <input matInput type="text" formControlName="name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullwidth">
              <input matInput type="tetx" formControlName="value">
            </mat-form-field>
          </td>

          <td>
            <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
            <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
          </td>
        </tr>
        <tr *ngIf="!group.get('isEditable').value">
          <td>
            {{group.get('name').value}}
          </td>
          <td>
            {{group.get('value').value}}
          </td>

          <td>
            <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="action-container">
      <button mat-raised-button color="primary" type="submit" (click)="addRow()">Add row</button>

    </div>
  </form>
</div>
