<div class="main">

  <div class="container">
    <div>
      <div class="middle">
        <div class="signin-form">
          <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <h2>Sign in</h2>
            <!--    <p class="hint-text">Sign in with your social media account</p>
               <div class="social-btn text-center">
                   <a href="#" class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
                   <a href="#" class="btn btn-info btn-lg" title="Twitter"><i class="fa fa-twitter"></i></a>
                   <a href="#" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
               </div>
               <div class="or-seperator"><b>or</b></div> -->
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Username" formControlName="username">
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.username">
                  <div class="error-message"
                       *ngIf="signinForm.get('username').hasError(error.type) && (signinForm.get('username').dirty || signinForm.get('username').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password">
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                  <div class="error-message"
                       *ngIf="signinForm.get('password').hasError(error.type) && (signinForm.get('password').dirty || signinForm.get('password').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" [disabled]="signinForm.invalid"
              >Sign in
              </button>
            </div>
            <div class="text-center small"><a href="#">Forgot Your password?</a></div>
          </form>
          <div class="text-center small">Don't have an account? <a *ngIf="!this.authService.isLoggedIn"
                                                                   class="btn btn-light"
                                                                   routerLinkActive="active" routerLink="/signup">Sign
            up</a></div>
        </div>

      </div>
    </div>
  </div>

</div>
